.form {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  background-color: transparent;
  color: #4b4b4b;
  border: 2px solid #f5f7fb;
  width: 90%;
  padding: 10px 20px;
}
.inputContainer{
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  background-color: #f5f7fb;
  border-radius: 40px;


}

input:focus,
textarea:focus,
select:focus {
  outline: 1px solid #fff;
}

.sendButton {
  background: #3ba58b;
  padding: 10px;
  border: none;
  transition: 0.3s ease all;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}
.sendButton:hover {
  transform: scale(1.1);
  transition: 0.3s ease all;
}
button:focus,
textarea:focus,
select:focus {
  outline: 1px solid #fff;
}
