.form {
    display: flex;
  }
  
  .input {
    background-color: transparent;
    color: #F0F0F0;
    border: 2px solid #F0F0F0;
    width: 90%;
    height: 60px;
    margin-top: 12px;
    margin-left: 15px;
    font-size: 1.2em;
  }
  
  input:focus, textarea:focus, select:focus{
    outline: none;
  }
  
  .sendButton {
    background: transparent;
    color: #F0F0F0;
    border: 2px solid #F0F0F0;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 15px 55px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
  }