.form {
  display: flex;
  justify-content: flex-end;
}

.input {
  background-color: transparent;
  position: fixed;
  color: #f0f0f0;
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 70%;
  height: 60px;
  font-size: 1.2em;
  bottom: 30px;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}
.sendButton {
  position: fixed;
  float: right;
  border: none;
  bottom: 30px;
  bottom: 0;
}
