
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .joinOuterContainer {
    display: flex;
    justify-content: center;
    text-align: center;
    height: 100vh;
    align-items: center;
    background-size: cover;
    background-color:  #e4f2ed ;
  }
  
  .jumbotron{
    background-color: #fff;
    border: 2px solid #F0F0F0;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-bottom: 0;
    border: 0px;

  }
  .glossy-container{
    background: rgba(255, 255, 255, 0.13);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.4px);
    -webkit-backdrop-filter: blur(11.4px);
    border: 1px solid rgba(255, 255, 255, 0.07);
    padding: 10px;
    border-radius: 20px;

  }
  
  .joinInnerContainer {
    color: #9B9B9B;
    cursor: text;
    font-size: 15px;
    line-height: 20px;
    -moz-transform: translateY(-34px);
    -ms-transform: translateY(-34px);
    -webkit-transform: translateY(-34px);
    transform: translateY(-34px);
    transition: all 0.3s;
  }
  .joinInnerContainer:focus + .joinInput{
    color: #F0F0F0;
    font-size: 13px;
    margin-top: 10px;
    -moz-transform: translateY(-74px);
    -ms-transform: translateY(-74px);
    -webkit-transform: translateY(-74px);
    transform: translateY(-74px);
  }
  
  .joinInput {
    background-color: transparent;
  border: 0;
  border-bottom: 2px solid #e0e0e0;
  color:  #4c5052;
  font-size: 20px;
  letter-spacing: 1px;
  outline: 0;
  padding: 5px 20px;
  text-align: center;
  transition: all 0.3s;
  width: 200px;
  }
  .joinInput:focus{
    max-width: 100%;
  width: 400px;
  }
  
  .heading {
    font-size:25px;
    border-bottom: 2px solid white;
    font-weight: 700;
    color:  #4c5052 ;
    margin-top: 10px;
  }
  
  .button1 {
    color: #F0F0F0;
    border: 2px solid #F0F0F0;
    font-size: 15px;
    letter-spacing: 2px;
    padding: 15px 75px;
    cursor: pointer;
    display: inline-block;
    -webkit-transition: all 0.4s;
   -moz-transition: all 0.4s;
   transition: all 0.4s;
   background-color:  #23b28f ;

  }
  .button1:hover, .button1:focus {
    background-color:  #23b28f ;
    color: #fff;
    font-weight: 600;
  }
  .mt-20 {
    margin-top: 50px;
    font-size: 16px;
  }
  .bt-20{
    width:100%;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 30px;
  }
  
  @media (min-width: 320px) and (max-width: 480px) {
    .joinOuterContainer {
      height: 100%;
    }
  
   
  
  }
  .avatar-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
.avatar-btn{
  margin: 30px 0;
  color: #23b28f !important;
  border-color: transparent !important;
}
