.messageBoxRight {
    display: inline-block;
    max-width: 80%;
    background-color: #4d426d;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    color: #fff;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .messageText img {
    vertical-align: middle;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 5%;
    margin-top: 3px;
    align-items: flex-start;
    gap: 10px;

    
  }

    .avatar{
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-size: contain;
    }
  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {
    justify-content: flex-start;
  }
  
  .justifyEnd {
    justify-content: flex-end;
  }
  
  .colorWhite {
    color:#fff;
    margin-bottom: 0;

  }
  
  .colorDark {
    color:#4b4b4b;
    margin-bottom: 0;
  }
  
  .backgroundBlue {
  }
  
  .backgroundLight {
    background-color: #4d426d;
    max-width: 80%;
    background-color: #f5f7fb;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
  
  }

  .colorAdmin{
    color:#154c79;
    align-items: center;
    margin-bottom: 0;
  }
  .bold{
    font-weight: bold;
  }
  
  .sep {
    display: flex;
    flex-direction: row;
    /* font-size: 12px; */
    padding: 10px 20px;
   font-style: italic;
  }
  .sep:before, .sep:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  .sep:before {
    margin-right: 10px
  }
  .sep:after {
    margin-left: 10px
  }